<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchuang.A33.mapper.MenuMapper">
  <select id="getAllMenus" parameterType="int" resultType="com.fuchuang.A33.entity.Menu" >
    select m.`menu`,ur.`userId` from
      `t_user_role` ur
        left join `t_role` r on ur.`roleId` = r.`id`
        left join `t_menu_role` mr on mr.`menuId` = ur.`roleId`
        left join `t_menu` m on ur.`roleId` = m.`id`
    where
      ur.`userId` = #{id}
  </select>
</mapper>